KAFKA_HEAP_OPTS="{{ kafka_heap_opts }}"
KAFKA_JMX_OPTS="-Dcom.sun.management.jmxremote=true -Dcom.sun.management.jmxremote.port={{ kafka_jmx_port }} -Dcom.sun.management.jmxremote.rmi.port={{ kafka_jmx_port }} -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false -Djava.rmi.server.hostname={{ kafka_internal_ip | default(ansible_host) }}"
KAFKA_OPTS="-javaagent:/opt/jmx_exporter/jmx_prometheus_javaagent.jar={{ jmx_exporter_port }}:/etc/jmx_exporter/kafka-jmx-exporter.yml{% if kafka_security_enabled and kafka_security_mode == 'sasl_ssl' %} -Djava.security.auth.login.config={{ kafka_security_jaas_path }}{% endif %}"
