broker.id={{ kafka_broker_id }}

listeners=INTERNAL://0.0.0.0:{{ kafka_internal_listener_port }}{% if kafka_enable_nat_external_listener %},EXTERNAL://0.0.0.0:{{ kafka_external_listener_port }}{% endif %}
advertised.listeners=INTERNAL://{{ kafka_internal_ip | default(ansible_host) }}:{{ kafka_internal_listener_port }}{% if kafka_enable_nat_external_listener %},EXTERNAL://{{ kafka_external_ip | default(ansible_host) }}:{{ kafka_external_listener_port }}{% endif %}
listener.security.protocol.map=INTERNAL:PLAINTEXT{% if kafka_enable_nat_external_listener %},EXTERNAL:PLAINTEXT{% endif %}
inter.broker.listener.name=INTERNAL

num.network.threads=3
num.io.threads=8
socket.send.buffer.bytes=102400
socket.receive.buffer.bytes=102400
socket.request.max.bytes=104857600

log.dirs={{ kafka_data_dirs | join(',') }}
num.partitions={{ kafka_num_partitions }}
num.recovery.threads.per.data.dir=1

offsets.topic.replication.factor={{ kafka_offsets_topic_replication_factor }}
transaction.state.log.replication.factor={{ kafka_transaction_state_log_replication_factor }}
transaction.state.log.min.isr={{ kafka_transaction_state_log_min_isr }}
default.replication.factor={{ kafka_replication_factor }}
min.insync.replicas={{ kafka_min_insync_replicas }}
auto.create.topics.enable=false

log.retention.hours={{ kafka_log_retention_hours }}
log.segment.bytes=1073741824
log.retention.check.interval.ms=300000
message.max.bytes={{ kafka_message_max_bytes }}

zookeeper.connect={{ kafka_zookeeper_connect }}
zookeeper.connection.timeout.ms=18000

group.initial.rebalance.delay.ms=0
delete.topic.enable=true
